@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.App {
  background-color: #1a4b3a;
  min-height: 110vh;
  height:110%;
  color:white;
  font-family: 'Kalam', cursive;
  font-size: 110%;

}
h1{
  text-align: center;
}
/*Sign Up and Log In*/
.card{
  padding: 5%;
  background-color: #45a384;
  box-shadow: 5px 5px 5px #1e3b31;
}
.acnt{
  color: white;
}
/* end*/
/*Posts*/
.post-card{
  border:2px solid #45a384;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
  background: linear-gradient(180deg,#21614b,#1e3b31);
}
.post-card:hover{
  background: linear-gradient(180deg,#1d5541,#1b352b);
}
.post-link{
  color: white;
}
.card-req{
  padding: 5%;
  height:75vh;
  text-align: center;
}
.time{
  color: #9bddc7;
}
/*end*/
/*Comments*/
.card-comment{
  padding: 2%;
  margin:1%;
  background: linear-gradient(45deg, #254e40,#26624d );
}
.card-com{
  color:white;
  text-align: center;
}
.card-link{
  color:rgb(204, 246, 237);
}
